*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Fundo{
    height: 670px;
    background-image: url(./img/arruda.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}