.corpo_texto{
    position: relative;
    width: 450px;
    height: auto;
    background-color: #FFF;
    color: #333;
    text-align: center;
    padding: 15px;
    margin-left: 850px;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 30px;
}

.imagem{
    width: 50px;
}